---
import Layout from "../../layouts/Layout.astro";
import OurTeamCard from "../../components/OurTeamCard.astro";
---

<Layout title="Welcome to Astro.">
    <h1
        class="mb-4 text-2xl text-center font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl py-10"
    >
        Organising Committee
    </h1>

    <div class="max-w-[1200px] mx-auto mb-10">
        <h1
            class="font-bold text-[32px] mb-5 ml-5 underline underline-offset-[6px] decoration-3 decoration-blue-400"
        >
            Area
        </h1>

        <div
            class="flex flex-wrap items-center gap-5 justify-center justify-center"
        >
            <OurTeamCard
                img="https://img.freepik.com/premium-photo/covid-19-coronavirus-outbreak-healthcare-workers-pandemic-concept-middle-aged-doctor-white-coat-cross-arms-chest-ready-help-patients-prescribe-medication-smiling-cheerful_1258-61179.jpg"
                name="Dr.Name"
                position="Position"
            />
            <OurTeamCard
                img="https://img.freepik.com/free-photo/young-woman-doctor-white-coat-with-stethoscope-smiling-confident-standing-with-arms-crossed-white-wall_141793-47701.jpg?size=626&ext=jpg&uid=R124523355&ga=GA1.1.1666716393.1699440809&semt=ais"
                name="Dr.Name"
                position="Position"
            />
            <OurTeamCard
                img="https://img.freepik.com/free-photo/smiling-doctor-with-strethoscope-isolated-grey_651396-974.jpg?size=626&ext=jpg&uid=R124523355&ga=GA1.1.1666716393.1699440809&semt=ais"
                name="Dr.Name"
                position="Position"
            />
            <OurTeamCard
                img="https://img.freepik.com/premium-photo/covid-19-coronavirus-outbreak-healthcare-workers-pandemic-concept-middle-aged-doctor-white-coat-cross-arms-chest-ready-help-patients-prescribe-medication-smiling-cheerful_1258-61179.jpg"
                name="Dr.Name"
                position="Position"
            />
            <OurTeamCard
                img="https://img.freepik.com/premium-photo/confident-pretty-middle-aged-female-doctor_1262-10444.jpg?size=626&ext=jpg&uid=R124523355&ga=GA1.1.1666716393.1699440809&semt=ais"
                name="Dr.Name"
                position="Position"
            />
        </div>
    </div>
    <div class="max-w-[1200px] mx-auto mb-10">
        <h1
            class="font-bold text-[32px] mb-5 ml-5 underline underline-offset-[6px] decoration-3 decoration-blue-400"
        >
            Area
        </h1>

        <div class="flex flex-wrap items-center gap-5 justify-center">
            <OurTeamCard
                img="https://img.freepik.com/premium-photo/covid-19-coronavirus-outbreak-healthcare-workers-pandemic-concept-middle-aged-doctor-white-coat-cross-arms-chest-ready-help-patients-prescribe-medication-smiling-cheerful_1258-61179.jpg"
                name="Dr.Name"
                position="Position"
            />
            <OurTeamCard
                img="https://img.freepik.com/free-photo/young-woman-doctor-white-coat-with-stethoscope-smiling-confident-standing-with-arms-crossed-white-wall_141793-47701.jpg?size=626&ext=jpg&uid=R124523355&ga=GA1.1.1666716393.1699440809&semt=ais"
                name="Dr.Name"
                position="Position"
            />
            <OurTeamCard
                img="https://img.freepik.com/free-photo/smiling-doctor-with-strethoscope-isolated-grey_651396-974.jpg?size=626&ext=jpg&uid=R124523355&ga=GA1.1.1666716393.1699440809&semt=ais"
                name="Dr.Name"
                position="Position"
            />
            <OurTeamCard
                img="https://img.freepik.com/premium-photo/covid-19-coronavirus-outbreak-healthcare-workers-pandemic-concept-middle-aged-doctor-white-coat-cross-arms-chest-ready-help-patients-prescribe-medication-smiling-cheerful_1258-61179.jpg"
                name="Dr.Name"
                position="Position"
            />
            <OurTeamCard
                img="https://img.freepik.com/premium-photo/confident-pretty-middle-aged-female-doctor_1262-10444.jpg?size=626&ext=jpg&uid=R124523355&ga=GA1.1.1666716393.1699440809&semt=ais"
                name="Dr.Name"
                position="Position"
            />
        </div>
    </div>
</Layout>
