---
import Layout from "../../layouts/Layout.astro";
import OurTeamCard from "../../components/OurTeamCard.astro";
---

<Layout title="Welcome to Astro.">
    <h1
        class="mb-4 text-2xl text-center font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl py-10"
    >
        Organising Committee
    </h1>

    <div class="max-w-[1200px] mx-auto mb-10">
        <div
            class="flex flex-wrap items-center gap-5 justify-center justify-center"
        >
            <OurTeamCard
                img="/assets/img/png/Dr Sandeep.png"
                name="Dr Sandeep \n \n"
                position=""
            />
            <OurTeamCard
                img="/assets/img/png/Dr Sajith Babu.png"
                name="Dr Sajith Babu \n \n"
                position=""
            />
            <OurTeamCard
                img="/assets/img/png/Dr Bijiraj.png"
                name="Dr Bijiraj \n \n"
                position=""
            />
            <OurTeamCard
                img="/assets/img/png/Dr Abdul Salam RT.png"
                name="Dr Abdul Salam RT \n \n"
                position=""
            />
            <OurTeamCard
                img="/assets/img/png/Dr Abdul Azeez MA.png"
                name="Dr Abdul Azeez MA \n \n"
                position=""
            />
            <OurTeamCard
                img="/assets/img/png/Dr P Muraleedharan Nampoothiri.png"
                name="Dr P Muraleedharan Nampoothiri "
                position=""
            />
            <OurTeamCard
                img="/assets/img/png/Dr Ashwin Menon.png"
                name="Dr Ashwin Menon \n \n"
                position=""
            />
            <OurTeamCard
                img="/assets/img/png/Dr Santhosh Kumar PT.png"
                name="Dr Santhosh Kumar PT \n \n"
                position=""
            />
            <OurTeamCard
                img="/assets/img/png/Dr Ashila Pavithran.png"
                name="Dr Ashila Pavithran \n \n"
                position=""
            />
            <OurTeamCard
                img="/assets/img/png/Dr Sapna Nambiar.png"
                name="Dr Sapna Nambiar \n \n"
                position=""
            />
            <OurTeamCard
                img="/assets/img/png/Dr Suma R.png"
                name="Dr Sapna Nambiar \n \n"
                position=""
            />
        </div>
    </div>
</Layout>
