---
const {} = Astro.props;
---

<nav
    class="bg-white 0 fixed w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600 relative"
>
    <div
        class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
    >
        <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img
                class="w-[200px] lg:w-[400px]"
                src="/assets/img/png/kentcon-logo.png"
                alt=""
            />
        </a>
        <a
            href="/"
            class="flex items-center space-x-3 rtl:space-x-reverse ml-0 lg:ml-0 md:ml-[-172px] lg:w-[80px] w-[50px] lg:mt-5"
        >
            <img
                class="w-auto"
                src="/assets/img/png/aoi-logo.png   "
                alt="aoi-logo"
            />
        </a>
        <button
            class="lg:hidden block"
            data-collapse-toggle="navbar-sticky"
            type="button"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-6 h-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
        </button>
        <div
            class="items-center justify-between hidden w-full lg:flex lg:w-auto md:order- lg:mt-5"
            id="navbar-sticky"
        >
            <ul
                class="flex flex-col gap-4 p-4 lg:p-0 mt-4 text-center font-medium border border-gray-100 rounded-lg bg-gray-50 lg:space-x-8 rtl:space-x-reverse lg:flex-row lg:mt-0 lg:border-0 md:bg-white"
            >
                <li>
                    <a
                        href="/"
                        class="block py-2 px-3 text-gray-900 rounded hover:bg-[#87C4FF] md:hover:bg-transparent md:hover:text-blue-700 md:p-0"
                        aria-current="page">Home</a
                    >
                </li>
                <li>
                    <a
                        href="/#about"
                        class="block py-2 px-3 text-gray-900 rounded hover:bg-[#87C4FF] md:hover:bg-transparent md:hover:text-blue-700 md:p-0"
                        >About</a
                    >
                </li>
                <li>
                    <a
                        href="/#speakers"
                        class="block py-2 px-3 text-gray-900 rounded hover:bg-[#87C4FF] md:hover:bg-transparent md:hover:text-blue-700 md:p-0"
                        >Speakers</a
                    >
                </li>
                <li>
                    <a
                        href="/#pricing"
                        class="block py-2 px-3 text-gray-900 rounded hover:bg-[#87C4FF] md:hover:bg-transparent md:hover:text-blue-700 md:p-0"
                        >Pricing</a
                    >
                </li>
                <li>
                    <a
                        href="/#organising-Team"
                        class="block py-2 px-3 text-gray-900 rounded hover:bg-[#87C4FF] md:hover:bg-transparent md:hover:text-blue-700 md:p-0"
                        >Organising Team</a
                    >
                </li>
                <li>
                    <a
                        href="/contact-us"
                        class="block py-2 px-3 text-gray-900 rounded hover:bg-[#87C4FF] md:hover:bg-transparent md:hover:text-blue-700 md:p-0"
                        >Contact</a
                    >
                </li>
            </ul>
        </div>

        <!-- <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
            <button
                type="button"
                class="bg-gradient-to-r from-[#D80B69] to-[#8F2570] hover:bg-[#87C4FF] px-[15px] py-[10px] rounded font-medium text-[18px] text-white"
                >Registration</button
            >
            <button
                data-collapse-toggle="navbar-sticky"
                type="button"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                aria-controls="navbar-sticky"
                aria-expanded="false"
            >
                <span class="sr-only">Open main menu</span>
                <svg
                    class="w-5 h-5"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 17 14"
                >
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M1 1h15M1 7h15M1 13h15"></path>
                </svg>
            </button>
        </div> -->
    </div>
</nav>
