---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <div class="relative pb-[30px]">
        <div
            class="absolute top-0 right-0 bottom-0 left-0 opacity-[100%] bg-[url('/assets/img/jpg/kentcon-terms-and-condition-bg.jpg')] bg-cover bg-center bg-no-repeat"
        >
        </div>
        <div
            class="max-w-[1647px] w-full px-[22px] z-10 relative xl:pl-[90px] 2xl:pl-[150px] lg:pb-[100px]"
        >
            <h1
                class="md:text-[64px] text-[36px] text-[black] font-extrabold pt-[25vh] md:pt-[20vh] mb-[16px] md:leading-[75px]"
            >
                Terms and Conditions
            </h1>
            <p class="md:text-[24px] text-[26px] text-[black] font-light">
                Navigate our guidelines for a transparent and respectful
                collaboration. Your trust is our priority.
            </p>
        </div>
    </div>
    <div class="bg-[#eff5f8] p-5 md:p-20">
        <div class="bg-white p-5 lg:p-10 rounded-[25px] mb-5">
            <p class="font-bold text-[28px] mb-6">
                KentCon 2024 - Registration Terms and Conditions
            </p>
            <div class="mb-3">
                <p class="font-medium">Event Details</p>
                <p class="font-medium">Event Name: KentCon 2024</p>
                <p class="font-medium">Organizer: AOI Kozhikode Chapter</p>
            </div>

            <ol class="list-decimal font-bold" type="1">
                <li>Registration:</li>
                <ul class="list-disc font-normal mt-3 mb-3 pl-5">
                    <li>
                        All participants must complete the registration process
                        to attend KentCon 2024.
                    </li>
                    <li>
                        The registration process is exclusively managed through
                        the official KentCon 2024 website.
                    </li>
                </ul>
                <li>Registration Fees:</li>
                <ul class="list-disc font-normal mt-3 mb-3 pl-5">
                    <li>
                        A registration fee is applicable for all participants
                        unless otherwise stated.
                    </li>
                    <li>
                        The registration fee is non-refundable unless otherwise
                        specified in the event's refund policy.
                    </li>
                </ul>
                <li>Refund Policy:</li>
                <ul class="list-disc font-normal mt-3 mb-3 pl-5">
                    <li>
                        Refund requests must be made in accordance with the
                        event's refund policy, if applicable.
                    </li>
                    <li>
                        The organizer reserves the right to determine the
                        conditions under which a refund may be granted.
                    </li>
                </ul>
                <li>Event Cancellation:</li>
                <ul class="list-disc font-normal mt-3 mb-3 pl-5">
                    <li>
                        In the event of KentCon 2024 cancellation, participants
                        will be notified promptly.
                    </li>
                    <li>
                        Refunds, if applicable, will be processed according to
                        the event's refund policy.
                    </li>
                </ul>
                <li>Participant Information:</li>
                <ul class="list-disc font-normal mt-3 mb-3 pl-5">
                    <li>
                        Information provided during registration is used solely
                        for event-related purposes.
                    </li>
                    <li>
                        The organizer ensures the privacy and security of
                        participant information in compliance with applicable
                        data protection laws.
                    </li>
                </ul>
                <li>Compliance:</li>
                <ul class="list-disc font-normal mt-3 mb-3 pl-5">
                    <li>
                        Participants are expected to comply with all rules and
                        regulations set forth by AOI Kozhikode Chapter for
                        KentCon 2024.
                    </li>
                </ul>
                <li>Modification of Terms:</li>
                <ul class="list-disc font-normal mt-3 mb-3 pl-5">
                    <li>
                        AOI Kozhikode Chapter reserves the right to modify these
                        registration terms and conditions at any time.
                    </li>
                    <li>
                        Participants will be notified of any changes through
                        official communication channels.
                    </li>
                </ul>
                <li>Governing Law:</li>
                <ul class="list-disc font-normal mt-3 mb-3 pl-5">
                    <li>
                        These registration terms and conditions are governed by
                        the laws of [Jurisdiction].
                    </li>
                    <li>
                        Any legal actions arising from or in connection with
                        these terms will be brought in the courts of high court
                        Kerala.
                    </li>
                </ul>
            </ol>
            <p>
                By registering for KentCon 2024, participants acknowledge and
                agree to these registration terms and conditions.
            </p>

            <p>
                Dr. Sankar Mahadevan
                <a href="tel:+91 98472 62702">+91 98472 62702</a>
            </p>
        </div>
    </div>
</Layout>
